
  img{
    width: 250px;
    border: 5px solid #333; /* ขอบหนา 5px และสี #333 */
    border-radius: 8px;      /* ทำให้ขอบมน */
    transition: transform 0.5s ease-in-out;
  }
  img:hover {
    transform: scale(1.1); /* ขยายรูปภาพขึ้น 10% */
}

  body{
      background-color:azure;
  }
  H1{ 
    font-family:"Rubik";
  }
  p{
    font-family:  "Rubik", sans-serif;
  }